body{
    background-color: yellow;
    text-align: center;
}
h2{
    color: red;
    font-family:algerian;
}
p
{
    color:cornflowerblue ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}